In [1]:
import implicit
import pandas as pd

In [2]:
data = pd.read_csv("u.data", sep="\t", header=None, usecols=[0,1,2], names=['userId','itemId','rating'])

In [3]:
data.head()

   userId  itemId  rating
0     196     242       3
1     186     302       3
2      22     377       1
3     244      51       2
4     166     346       1

In [11]:
#  creating the user-product-rating matrix

from scipy.sparse import coo_matrix

data['userId'] = data['userId'].astype("category")
data['itemId'] = data['itemId'].astype("category")
# only rating is numeric now

rating_matrix= coo_matrix((data['rating'].astype(float),
(data['itemId'].cat.codes.copy(),
data['userId'].cat.codes.copy())))

# .codes gives the category codes of this categorical
# Codes are an array of integers which are the positions of the actual values in the categories array.

In [12]:
# Caling ALS

user_factors, item_factors = implicit.alternating_least_squares(rating_matrix, factors=10, regularization=0.01)

This method is deprecated. Please use the AlternatingLeastSquares class instead
WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading
100%|██████████| 15/15 [00:02<00:00,  6.01it/s]

In [19]:
print(user_factors.size, item_factors.size)

16820 9430

In [20]:
# calculating for user 196
user196 = item_factors.dot(user_factors[196])

In [21]:
# now extracting the top 3 ratings from the user196
import heapq

heapq.nlargest(3, range(len(user196)), user196.take)

[17, 89, 473]